@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans:wght@100&display=swap');

.home{
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    align-items: center;
}
.items{
    width: 33.3%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    
}
.items h5{
    font-family: 'Work Sans';
    color:  #333333;
}
.logo{
    width: 33.3%;
    height: 50px;
    display: grid;
    justify-content: center;
    

}
.compra{
    width: 33.3%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.compra img{
    width: 30px;
    height: 30px;  
}
.compra h5{
    font-family: 'Work Sans';
    color:  #333333;
    font-weight: 600; 
}
.slider{
    margin-left: 2%;
    margin-right: 2%;
    background-image: url(Imagenes/slider-2.jpg);
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider h1{
    display: flex;
    justify-content: center;
    font-family: 'Playfair Display';
    font-weight: normal;
    font-size: 70px;
    margin-block-start: 0%;
    margin-block-end: 0%;
}
.slider h6{
    display: flex;
    justify-content: center;
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: underline;
    margin-block-start: 0%;
    margin-block-end: 0%;
    
}
.banner{
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.imagen1{
    height: 270px;
    width: 30%;
    background-image: url(Imagenes/banner-1.png);
    display: grid;
    align-items: center;
    
    
}
.banner h1{
    font-family: 'Lora';
    font-weight: normal;
    font-size: 45px;
    color:  #529F0F;
    margin-left: 5%;
    margin-top: 8%;    
}
.banner h5{
    font-family: 'Work Sans';
    color: #575757;
    font-weight: 500;
    font-size: 18px;
    margin-left: 5%;
    margin-top: -150px;
    
}