@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

h1{
	font-size: 40px;
	line-height: 30px;
}

h2{
    font-size: 35px;
    line-height: 25px;
}

h3 {
	font-size: 30px;
	line-height: 20px;
}

h4{
    font-size: 25px;
    line-height: 15px;
}

h5{
    font-size: 20px;
    line-height: 15px;
}

h6 {
	font-size: 13px;
	line-height: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
}

p{
    font-family: 'Lora', serif;
}

a{
    text-decoration: none;
    color: black;
}

label{
    font-family: 'Work Sans', sans-serif;
}

ul li{
    font-family: 'Work Sans', sans-serif;
}

/* ------------------------------------HEADER------------------------------- */

.menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px 160px;
}

.home, .items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.items h6,h5{
    margin-left: 55px;
    font-weight: 500;
    letter-spacing: 0;
}

.compra h4{
    margin: 0 10px 5px 30px;
    font-weight: 400;
}
.compra h6{
    margin: 0 20px;
}

.compra img{
    position: relative;
    bottom: 2px;
    width: 30px;
}

/* ------------------------------------ENTRY CONTENT------------------------------- */

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),url(Imagenes/taza.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 420px;
}

.content-box-1 h1{
    font-weight: 600;
}

.content-box-1 p{
    padding: 20px 0 0 100px;
    font-weight: 400;
    letter-spacing: 0;
}

/* ------------------------------------FIRTS ARTICLE------------------------------- */

.column-article{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px 100px 20px 150px;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-end;
}

.principal-product h6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    top: 60px;
    left: 20px;
    background-color: #539e0f;
    color: white;
    border: 1px solid;
    border-radius: 100%;
}

.secundary-products{
    display: flex;
    align-items: center;
}

.secundary-products p{
    margin: 0 40px 0 20px;
    color: rgba(0, 0, 0, 0.5);
}

.images{
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 20px 10px 0;
}

.right-content{
    display: flex;
    flex-direction: column;
    padding: 50px 0 35px 0;
}

.title-product h2{
    color: #575757;
}

.content-text{
    margin: 30px 0 50px 0;
    display: flex;
}

.star{
    margin: 0 0 0 5px;
}

.text{
    margin: 0 0 0 30px;
}

.title-product h3{
    font-weight: 500;
    letter-spacing: 0;
    margin: 0 0 40px 0;
}

.green-text{
    color: #539e0f;
}

.product-description p{
    margin: 0 0 10px 0;
}


.plan{
    margin: 20px 0;
}

.plan-text{
    margin-left: 20px;
}

.buy-and-contact{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.client-action{
    display: flex;
    align-items: center;
    padding: 30px 0 20px 0;
}

.client-action :not(:first-child){
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f6;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    font-weight: 400;
}

.icons{
    padding: 40px 0 0 0;
    display: flex;
}

.icons p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 10px;
}

.icons .twitter{
    width: 90px;
    height: 30px;
    background: #04a8f0;
}

.icons .facebook{
    width: 90px;
    height: 30px;
    background: #425e9f;
}

.icons .google{
    width: 90px;
    height: 30px;
    background: #e14a35;
}

.icons .pinterest{
    width: 100px;
    height: 30px;
    background: #ce2120;
}

/* ------------------------------------SECOND ARTICLE------------------------------- */

.row-article{
    display: grid;
    
}

.categories{
    padding: 50px 60px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories h4{
    height: 60px;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 60px;
}

.categories h4:first-child{
    color: #539e0f;
    border-bottom: 5px solid;
}

.inferior-content{
    padding: 0 100px;
}

.row-content{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.inferior-content-text{
   padding: 50px 0;
}

.inferior-content-text p{
    line-height: 30px;
    margin-bottom: 30px;
}

.inferior-content-text ul li{
     list-style-type: none;
     margin-bottom: 10px;
}

/* ------------------------------------THIRD ARTICLE------------------------------- */

.related-products{
    padding: 30px 90px;
}

.related-products h2{
    width: 279px;
    height: 30px;
    letter-spacing: 0;
    font-family: 'Lora', serif;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.related-products-images{
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
}

.product img, .discount-product img{
    width: 250px;
    margin: 0 20px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.discount-product{
    position: relative;
    bottom: 42px;
}

.discount-product h6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    left: 10px;
    top: 50px;
    background-color: #539e0f;
    color: white;
    border: 1px solid;
    border-radius: 50%;
}

.discount-product p, .product p{
    font-family: 'Work Sans', sans-serif;
    margin: 10px 0;
}

.discount-product p:first-of-type, .product p:first-of-type{
    color: rgba(0, 0, 0, 0.65);
}

/* ------------------------------------POPUP------------------------------- */

#modal{
    inset-block-start: 200px;
    inset-inline-start: 220px;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.55);
}

.modal-content{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 800px;
    padding: 50px 0 0 0;
}

.recomended-images{
    display: flex;
    width: 300px;
}

.recomended-images img{
    margin: 10px 20px 0 0;
}

#modal-btn, #modal-btn-2, #modal-btn-3, #modal-btn-4{
    display: flex;
    flex-direction: column;
    background: transparent;
    border: transparent;
}

.modal-left-content{
    padding: 20px 0 20px 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-left-content img{
    width: 315px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-right-content{
    padding: 20px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-right-content h3, .modal-right-content p, .modal-right-content h6{
    font-family: 'Lora', serif;
    font-weight: 400;
    letter-spacing: 0;
    margin: 10px 0;
}

#close-modal{
    position: relative;
    bottom: 90px;
    left: 360px;
    background: transparent;
    border: transparent;
}

.product-size{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px; 
}

.squares{
    display: flex;
}

.squares .blue, .squares .red, .squares .rose{
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}

.blue{
    background: #0001f5;
}

.red{
    background: #cb3143;
}

.rose{
    background: #eb337f;
}

.quantity-products{
    display: flex;
    align-items: center; 
}

.quantity-products p{ 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 20px;
    height: 30px;
}

.quantity-products p:nth-of-type(2){
    width: 60px;
}

.quantity-products h5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 20px;
    border: 1px solid black;
    width: 120px;
    height: 30px;
    font-size: 13px;
    border-radius: 5px;
    color: white;
    background: #323233;
}


/* ------------------------------------FOOTER------------------------------- */

footer{
    background: #f9f9f8;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 80px 200px 0 120px;
}

.footer-text h6, h5{
    justify-content: flex-start;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0;
    margin: 0 0 20px 0;
}

.footer-text h6{
    color: rgba(0, 0, 0, 0.7);
}

.footer-text .no-margin{
    margin: 0;
}

.credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eaeaeb;
    padding: 20px 120px;
}

.credits .red-heart{
    color: red;
}

/* ------------------------------------MEDIA-QUERYS------------------------------- */

@media (max-width: 1024px){
    .menu-principal{
        padding: 30px 30px 30px 100px;
    }
    .items h6,h5, .compra h4, .compra h6, .compra img{
        margin: 0 20px 0 0;
    }

    .logo img{
        width: 120px;
    }

    .column-article{
        padding: 50px 10px 20px 20px;
    }
    .principal-product img{
        width: 480px;
    }
    .left-content{
        justify-content: flex-start;
        align-items: center;
    }
    .secundary-products p{
        margin: 0 1px;
    }
    .secundary-products img{
        margin: 30px 10px;
        width: 80px;
    }
    .product img, .discount-product img{
        width: 188px;
        margin: 0 20px 0 0;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    #modal{
        inset-inline-start: 98px;
    }
}

@media (max-width: 768px){
    
    .items h6,h5, .compra h4, .compra h6, .compra img{
        margin: 0 10px 0 0;
        font-size: 12px;
    }
    .logo img{
        width: 100px;
    }

    .principal-product img{
        width: 330px;
    }
    
    .secundary-products img{
        margin: 20px 10px;
        width: 60px;
    }
    .title-product, .product-description, .buy-and-contact{
        font-size: 13px;
    }
    .content-text, .title-product h3{
        margin: 20px 0;
    }

    .plan{
        margin: 5px;
    }

    .client-action{
        padding: 10px 0;
    }

    .icons{
        padding: 10px 0;
    }

    .product img, .discount-product img{
        width: 132px;
        margin: 0 10px 0 0;
    }

    .discount-product{
        position: relative;
        bottom: 32px;
    }

    .discount-product h6{
        width: 30px;
        height: 30px;
        left: 10px;
        top: 40px;
        
    }

    #modal{
        inset-inline-start: 18px;
    }

    .content, .credits{
        padding: 20px 60px;
        font-size: 12px;
    }
}

@media (max-width: 640px){
    .menu-principal{
        padding: 30px;
    }
    .items h6,h5, .compra h4, .compra h6, .compra img{
        font-size: 10px;
    }

    .logo img{
        width: 100px;
    }

    .principal-product img{
        width: 280px;
    }
    
    .secundary-products img{
        margin: 20px 10px;
        width: 45px;
    }

    .title-product, .product-description, .buy-and-contact{
        font-size: 10px;
    }

    .title-product h2, .title-product h3{
        font-size: 17px;
        margin: 5px 0;
    }


    .second-article{
        font-size: 13px;
        line-height: 10px;
    }

    .related-products{
        padding: 10px 55px;
    }

    .product img, .discount-product img{
        width: 100px;
        margin: 0 10px 0 0;
    }

    #modal{
        inset-block-start: 10px;
        inset-inline-start: 50px;
    }

    .modal-content{
        display: flex;
        flex-direction: column;
        width: 500px;
        padding: 50px 0 0 0;
    }

    .modal-left-content{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-right-content{
        padding: 0 20px;
    }

    #close-modal{
        bottom: 515px;
        left: 450px;
    }

    .footer-text h5{
        font-size: 12px;
    }

    .footer-text h6{
        font-size: 10px;
    }

    .content, .credits{
        padding: 20px 60px;
        font-size: 8px;
    }
    
    .credits img{
        width: 200px;
    }
}

/* ------------------------------------MOBILE------------------------------- */

@media (max-width: 415px){
    .items h6,h5, .compra h4, .compra h6, .compra img{
        margin: 0 10px 0 0;
        font-size: 5px;
    }


    .column-article{
        display: flex;
        flex-direction: column;
        padding: 50px 10px 20px 20px;
    }
    .principal-product img{
        width: 380px;
    }
    
    .secundary-products img{
        margin: 20px 10px;
        width: 70px;
    }

    .right-content{
        padding: 10px 20px;
    }

    .second-article{
        font-size: 10px;
        line-height: 10px;
    }

    .categories h4{
        margin-left: 20px;
        font-size: 14px;
    }

    .inferior-content{
        padding: 0 20px;
    }

    .related-products{
        padding: 10px 20px;
    }

    .related-products-images{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .product img, .discount-product img{
        width: 300px;
        margin: 0 10px 0 0;
    }

    #modal{
        inset-block-start: 10px;
        inset-inline-start: 15px;
    }

    .modal-content{
        width: 400px;  
    }

    .modal-left-content{
        padding: 0 20px 0 0;
    }

    #close-modal{
        bottom: 515px;
        left: 320px;
    }

    .content, .credits{
        display: flex;
        flex-direction: column;
        padding: 20px 60px 20px 40px;
        font-size: 10px;
    }

    .footer-text h5{
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    .footer-text h6{
        font-size: 12px;
    }
    
    .credits img{
        width: 120px;
    }
}