@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&family=Work+Sans:wght@100&display=swap');

*{
    margin: 0;
}



.menu-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px 0 130px;
}

.home, .items{
    display: flex;
}

.items h6, .compra img{
    margin-left: 35px;
    font-family: 'Playfair Display', serif;
}

.compra img{
    position: relative;
    bottom: 5px;
    width: 20px;
}